<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.671225313567-cj9sec1nodtqj4uii37gu2oilb5niqet</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>671225313567-cj9sec1nodtqj4uii37gu2oilb5niqet.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>671225313567-o6upnfor7fg2apgleeg5ehkiqa1rdkof.apps.googleusercontent.com</string>
</dict>
</plist>
